/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

:root {
    --main-white: #f0f0f0;
    --primary: #d500d8;
    --secondary: #22dd22;
}

body {
	background-color: var(--main-white);
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	max-width: 960px;
	margin: 2em auto;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
