
/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

:root {
  --main-white: #f0f0f0;
  --main-blue: #729EA1;   /* primary */
  --main-accent: #dfbe99; /*secondary*/
  --main-accent2: #ec9192;
  --main-gray: #303841;
}

body {
	background-color: var(--main-blue);
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	max-width: 960px;
	margin: 2em auto;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Merriweather", 'Times New Roman', Times, serif;
	text-align: left;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: var(--main-gray);
}

header, footer {
	background-color: var(--main-accent);
	border-radius: 1.5em;
	border-color: var(--main-gray);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
	max-width: 960px;
  	margin: 0 auto;
}

main, hr {
	display: block;
	max-width: 960px;
	margin: 0 auto;
}

hr {
	margin-left: 40px;
}

.title {
	padding: 1em;
	text-align: center;
}

#headshot {
	width: 150px;
	margin-top: -75px;
	margin-right: 40px;
}

.portal-heading {
	margin-left: 40px;
}
.portal-list {
	list-style: none;
}

.copy-box, .update {
	font-size: 14px;
	text-align: center;
	padding: 0.5em;
	margin: 1em auto;
}

@media screen and (max-width: 640px) {
    img {
        float: none;
        max-width: 100%;
        display: block;
        margin: 0 auto;
	}
	
	#headshot {
		float: none;
        display: block;
        margin: 0 auto;
	}
}

