
/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

:root {
  --main-white: #f0f0f0;
  --main-blue: #729EA1;   /* primary */
  --main-accent: #dfbe99; /*secondary*/
  --main-accent2: #ec9192;
  --main-gray: #303841;
}

body {
	background-color: var(--main-white);
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	max-width: 960px;
	margin: 0 auto;
}

header, footer {
	background-color: var(--main-blue);
}

main {

}

#headshot {
	float: right;
	width: 150px;
}

.portal-list {
	list-style: none;
}
.portal-link {
	text-decoration: none;
	color: black;
}
.portal-link:hover {
	color: var(--main-blue);
}


@media screen and (max-width: 640px) {
    img {
        float: none;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}

