/* pier 734 imports */
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Oxygen&display=swap');

/* variables */
:root {
    /* color scheme */
    --color-white: #f0f0f0;
    --color-gray: #444;
    --color-primary: #ff521b;
    --color-secondary: #814b71;
    --color-accent1: #6A101f;
    --color-accent2: #fdb021;
    --color-accent3: #f9ff47;

    /* color usage */
    /* text */
    --headline-color-on-white: black;
    --headline-color-on-color: black;
    --paragraph-color-on-white: black;
    --paragraph-color-on-color: black;
    /* background */
    --paragraph-background-color: var(--color-secondary);
    /* nav scheme */
    --nav-link-color: var(--color-accent1);
    --nav-background-color: var(--color-primary);
    --nav-hover-link-color: var(--color-accent1);
    --nav-hover-background-color: var(--color-accent3);

    /* typography */
    --heading-font: 'Bitter', 'Times New Roman', serif;
    --paragraph-font: 'Oxygen', Arial, sans-serif;
}

body {
    font-family: var(--paragraph-font);
}

main {
    max-width: 560px;
    margin: 0 auto;
    padding: 1rem;
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
}

a, a:visited {
    text-decoration: none;
}

ul {
    list-style: none;
}

label {
    display: block;
}

section {
    margin: 1rem auto;
}
header {
    color: var(--paragraph-color-on-color);
    background-color: var(--color-accent2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sign-in-box {
    margin: 0 1rem;
}

.sign-button {
    color: var(--color-accent2);
    background-color: var(--color-accent1);
    border: none;
    padding: 8px;
}

.logo-box {
    margin: 1rem 0 0 1rem;
}

.logo {
    width: 75px;
    padding: 0.5rem;
    background: var(--color-accent1);
    border-radius: 67px;
}

.sign-in-box {
    margin-top: 1rem;
    align-self: flex-start;
    justify-self: flex-end;
}

.title-box {
    padding-left: 1rem;
    width: 100%;
}

.top-nav-box {
    width: 100%;
    align-self: flex-end;
}

.top-nav {
    background-color: var(--nav-background-color);
    text-align: center;
    padding: 0.5rem;
}

.top-nav-list {
    margin: auto;
    padding: 0;
    display: block;
}

.top-nav-button {
    border: none;
    background: none;
}

.top-nav-icon {
    width: 50px;
    display: block;
    padding: 2px;
}

.top-nav-item {
    color: var(--nav-link-color);
    display: none;
    padding: 0.25rem 0;
    font-size: 22px;
}

.responsive li {
    display: block;
}

.top-nav-link:link,
:visited {
    color: var(--nav-link-color);
}

.top-nav-item:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* footer */
footer {
    background-color: var(--color-secondary);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 1fr 4rem;
    align-items: center;
    justify-content: center;
}

.bottom-nav-box {
    text-align: center;
}

.bottom-nav-list {
    padding: 1rem;
}

.bottom-nav-item {
    color: var(--color-accent2)
}

.social-box {
    display: flex;
    align-self: center;
    justify-content: center;
}

.social-logo {
    padding: 6px;
    width: 75px;
    background-color: var(--color-accent1);
    border-radius: 75px;
}

.social-link img {
    padding: 6px;
    width: 75px;
}

.contact-box {
    text-align: center;
    padding: 1rem;
}

.copyright-box {
    width: 100%;
    font-size: 12px;
    text-align: center;
    background-color: var(--color-accent1);
    color: black;
}

.copyright-box a {
    color: black;
}

/* home */

#weather-alert {
    position: fixed;
    top: 25px;
    right: 20px;
    margin-left: 20px;
    max-width: 300px;
}

#alert-header {
    padding: 25px 15px;
    background: var(--color-gray);
    font-size: 20px;
    color: var(--color-white);
}

.alert-container {
    padding: 15px;
    background-color: #ccc;
    color: black
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: var(--color-white);
    font-size: 30px;
    cursor: pointer;
}

.closebtn:hover {
    color: var(--color-primary);
}

.main-title {
    text-align: center;
}

.section-title {
    text-align: center;
}

.banner-ad {
    max-width: 560px;
}



/* about */


.about-grid {
    display: block;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.event-box {
    border: 1px solid var(--color-primary);
    padding: 1rem;
    background-color: var(--color-accent2);
}

.event-date {
    display: block;
    float: right;
    margin: 1rem;
    font-weight: bold;
}

/* directory */

.directory-toggle {
    background: none;
    border: none;
}

.toggle-icon{
    width: 26px;
}

.directory-card {
    border: 3px solid var(--color-primary);
    background-color: var(--color-accent2);
    padding: 1rem;
    margin: 0.5rem;
}

.grid-mode {
    display: grid;
    grid-template-columns: 1fr;
}

.list-mode {
    display: block;
}

.list-mode .directory-card {
    display: flex;
}

.card-img {
    margin-left: 4rem;
    max-width: 200px;
    padding: 2px;
    border: 2px solid var(--color-accent1);
}
/* join */


/* contact us */
.contact-info-box {
    text-align: center;
}

.contact-map-box {
    padding: 1rem;
    margin: 0 auto;
}

.contact-form-box {
    padding: 1rem;
}

@media screen and (max-width:640px) {
    #big-map {
        display: none;
    }

    #small-map {
        display: block;
    }
}