@media screen and (min-width: 960px) {

    header,
    footer {
        display: flex;
        flex-direction: column;
    }

    .header-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .logo {
        width: 150px;
    }

    .title-box {
        display: flex;
        flex-direction: column;
    }

    #top-nav {
        display: flex
        flex-direction: row;
        align-items: center;
    }

    .nav-icon {
        display: none;
    }

    .top-nav>ul>li {
        justify-content: space-between;
    }
}