@media screen and (min-width: 960px) {
    .nav-button {
        display: none;
    }
    nav {
        display: flex;
    }
    
    header,
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 150px;
    }
}