@media screen and (min-width: 640px) {
    .nav-button {
        display: none;
    }
    nav {
        display: flex;
    }
    
    header,
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-box {
        display: flex;
        flex-direction: row;
    }

    .logo {
        width: 120px;
    }
    .title-box {
        display: flex;
        flex-direction: column;
    }

    #top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .top-nav>ul>li {
        justify-content: space-between;
    }
}
