@media screen and (min-width: 640px) {
    .nav-icon {
        display: none;
    }

    header,
    footer {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .header-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 120px;
    }

    .title-box {
        display: flex;
        flex-direction: column;
    }

    #top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    main,
    footer {
        max-width: 800px;
    }
}