
:root {
    /* color scheme */
    --main-white: #ffffff;
    --color-odd: #e7f0ed;
    --color-even: #e7ffed;
    --color-secondary: #628ca6;
    --color-primary: #7fb9c2;
    --main-gray: #000000;
}

table {
    font-family: Ubuntu, sans-serif;
    text-align: center;
    width: 300px;
    border-collapse: collapse;
    border: 2px solid black;
    box-shadow: 1em 1em 5px var(--color-secondary);
}

tbody tr:nth-child(even) {
    background-color: var(--color-even);
}
tbody tr:nth-child(odd) {
   background-color: var(--color-odd);
}

thead {
    background-color: var(--color-secondary);
    font-size: 16px;
}

thead:first-child {
    background-color: var(--color-primary);
    font-size: 20px;
}

tfoot {
    background-color: var(--color-primary);
    font-size: 14px;
}