
:root {
    /* color scheme */
    --main-white: #ffffff;
    --color-odd: #e7f0ed;
    --color-even: #e7ffed;
    --color-secondary: #628ca6;
    --color-primary: #7fb9c2;
    --main-gray: #000000;
}

body {
    font-family: Ubuntu, sans-serif;
}

thead {
    background-color: var(--color-secondary);
}

thead:first-child {
    background-color: var(--color-primary);
}


tbody tr:nth-child(even) {
    background-color: var(--color-even);
}
tbody tr:nth-child(odd) {
   background-color: var(--color-odd);
}

tfoot {
    background-color: var(--color-primary);
}