@media screen and (min-width: 640px) {

    header,
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 120px;
    }

    .title-box {
        display: flex;
        flex-direction: column;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .nav-list li:first-child {
        display: none;
    }

    main,
    footer {
        max-width: 640px;
    }

    .hero-weather {
        position: absolute;
        top: 25px;
        right: 50px;
    }

    .article-img {
        float: right;
        width: 50%;
        padding: 1em;
    }

    .contact-img {
        width: 50%;
    
    }
    .contact-paragraph {
        display: block;
        float: right;
        padding: 1em;
    }
}