@media screen and (min-width: 960px) {

    header,
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 150px;
    }

    .title-box {
        display: flex;
        flex-direction: column;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .nav-list li:first-child {
        display: none;
    }

    main,
    footer {
        max-width: 960px;
    }
    
    .article-img {
        float: right;
        width: 50%;
        padding: 1em;
    }
}