/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

:root {
  /* color scheme */
  --main-white: #ffffff;    
  --color-primary: #2BB6A8; /* primary */
  --color-secondary: #185F8C; /*secondary */
  --color-accent1: #DE172E;  /* accent 1*/
  --color-accent2: #FF9F1C;/* accent 2*/
  --main-gray: #011627;

  /* color usage */
  --headline-color-on-white: black;
  --headline-color-on-color: black; 
  --paragraph-color-on-white: black; 
  --paragraph-color-on-color: black;
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: var(--main-white);
  --nav-hover-background-color: var(--primary-color);

  /* typography */
  --heading-font: 'Lora', 'Times New Roman', serif;
  --paragraph-font: "Open Sans", Arial, sans-serif;
}

html {
  background-color: var(--color-primary);
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--main-white);
  font-family: var(--paragraph-font);
}

h1,h2,h3,h4 {
    font-family: var(--heading-font);
}

img {
  max-width: 100%;
}

header {
  padding: 1em;
  text-align: left;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}