h1 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
    grid-template-columns: 500px;
    grid-template-rows: repeat(5, 400px);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/*
[data-src] {
    min-width: 50px;
    min-height: 50px;
}
*/