html {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Lora', 'Times New Roman', Times, serif;
}

main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 400px);
    grid-template-areas: "img0" "img1" "img2" "img3" "img4";
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

[data-src] {
    min-width: 50px;
    min-height: 50px;
}