h1 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

[data-src] {
    min-width: 50px;
    min-height: 50px;
}
